
/*@media screen and (-webkit-device-pixel-ratio: 2){*/
 
@media 
only screen and (max-width : 480px) and (orientation : portrait),
only screen and (-webkit-device-pixel-ratio: 2) and (orientation : portrait) {
/*only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),*/
/*only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),*/
/*only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),*/
/*only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),*/
/*only screen and (                min-resolution: 192dpi) and (min-width: 1300px),*/
/*only screen and (                min-resolution: 2dppx)  and (min-width: 1300px){*/
	body {
		font-size: 3em !important;
	}
	.container {
		padding:0 !important;
		max-width: 100%! important;
	}
}
