@media screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2){
	body {
		font-size: 3em !important;
	}
	.container {
		padding:0 !important;
		max-width: 100%! important;
	}
}
