<!DOCTYPE html>
<html lang="{{g.get('language', 'en')}}">

	<head>
		<meta charset="utf-8">{#  #}</meta>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<link rel="shortcut icon" type="image/png" href="{{ url_for("static", filename="logos/jpp.png", _external=True) }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:description" content="{% trans %}They do not call themselves ‘artists’, but might be the future of art. We met the new-media art scene in Belgrade last week, at the Resonate festival.{% endtrans %}">
		<meta property="og:image" content="{{ url_for("static", filename="images/share2.jpg", _external=True) }}"/>
		<meta property="og:image" content="{{ url_for("static", filename="images/share3.jpg", _external=True) }}"/>
		<meta property="og:title" content="{% trans %}Digital Arts Circus{% endtrans %}"/>
		<meta property="og:site_name" content="Journalism++ Magazine"/>
		<meta property="og:type" content="article"/>
		<title>{% trans %}Digital Arts Circus{% endtrans %}</title>

		{% include "css.html" %}

	</head>

	<body class="use-base">

		{% include "header.html" %}

		{% block content %}{% endblock %}

		{% include "footer.html" %}

		{% include "js.html" %}

	</body>
</html>
