<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://jplusplus.org" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/JPP_Logo.png") }}" alt="Journalism ++">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		{% trans %}
		<div>Anne-Lise Bouyer, Sebastian Kraus, and Edouard Richard.</div>
		<div><span class="mentions">CC-BY-SA <a href="http://berlin.jplusplus.org/" target="_blank">Journalism++ SAS</a> ⁞ Photos © <a href="http://resonate.io/2014/" target="_blank">Resonate</a>.</span></div> 
		{% endtrans %}
	</div>
	<div class="row thanks">
		{% trans %}
		<div>We would like to thank the Resonate team, especially Maria Jelesijevic, and all the particiants who inspired us a lot.</div>
		<div>Thanks to the festival's photographers, who gave us their beautiful pictures.</div>
		<div>A special thanks to Milica, Nevena and Ana our lovely and inspiring local guides.</div>
		<div>Big up to Marco our host and skillful driver.</div>
		{% endtrans %}
	</div>
</footer>
