<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://jplusplus.org" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/JPP_Logo.png") }}" alt="Journalism ++">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		{% trans %}
		<div>Anne-Lise Bouyer, Sebastian Kraus, and Edouard Richard. <span class="mentions">CC-BY-SA Journalism++ SAS</span></div>
		<div><span class="mentions">CC-BY-SA <a href="http://berlin.jplusplus.org/">Journalism++ SAS</a> ⁞ Photos © <a href="http://esonate.io/2014/">Resonate</a>.</span></div> 
		{% endtrans %}
	</div>
	<div class="row thanks">
	We would like to thanks again all the Resonate team, especially Maria Jelesijevic and all the particiants who gave a so powerfull imprint to this event.<br/>
	Thanks to the Resonate photographs who give us so beautiful pictures.<br/>
	A special thanks to Milica, Nevena and Ana our lovely and so inspiring local guides.<br/>
	Big up to Marco our host and skillful driver.
</div>
</footer>
