<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://jplusplus.org" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/JPP_Logo.png") }}" alt="Journalism ++">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		<div>Anne-Lise Bouyer, Sebastian Kraus, and Edouard Richard. <span class="mentions">CC-BY-SA Journalism++ SAS</span></div>
		<div><span class="mentions">CC-BY-SA <a href="http://berlin.jplusplus.org/">Journalism++ SAS</a> ⁞ Photos © <a href="http://esonate.io/2014/">Resonate</a>.</span></div> 
	</div>
</footer>
