<div class="header navbar navbar-inverse navbar-fixed-top reverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for("index") }}">Resonate 2014</a>
		</div>
		<div class="collapse navbar-collapse">
			<div class="bookmark">
				<ul class="nav navbar-nav chapters">
					<li class="active"><a href="#start">Home</a></li>
					<li><a href="#benedikt">BENEDIKT GROSS</a></li>
					<li><a href="#mark"    >MARK MCKEAGUE</a></li>
				</ul>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="{{ "active" if g.get('language', 'fr') == "fr" }}"><a href="fr.html">FR</a></li>
				<li class="{{ "active" if g.get('language', 'fr') == "de" }}"><a href="de.html">DE</a></li>
			</ul>
			{{g.get('language', 'fr')}}
		</div><!--/.nav-collapse -->
	</div>
</div>
