{% extends 'base.html' %}
{% block content %}

<div class="main">

	<div class="main_title">
		<img class="logo" src="{{ url_for("static", filename="images/resonate_main.png") }}" alt="Resonate" />
		<p class="lead"></p>
		<!-- <span class="scroll-indicator glyphicon glyphicon-arrow-down"></span> -->
		<span class="scroll-indicator">
			<i class="icon icon-arrow-down" aria-hidden="true"></i>
		</span>
	</div>


	<div class="article container">
		<div class="title">BENEDIKT GROSS</div>
		<div class="subtitle">TALK</idv>
		<div class="body">
			<p>Benedikt Groß is a speculative and computational designer who works antidisciplinary. His work deals with the fascination of relationships between people, their data, technology and environments. He is particular interested to speculate about these relationships in the near future. He uses design as a vehicle to visualize potential implications and scenarios. Benedikt's working mode can be described most of the time as 'thinking through making', his preferred making material is software.</p>

			<p>In 2013 he graduated of the Design Interactions course at the Royal College of Art. He received the IxDA 2014 Best Student, the IxDA 2014 Best Concept and the Excellence Award of the Japanense Media Arts Festival for his final RCA graduation projects, 'Avena+ Test Bed' and 'The Big Atlas of LA Pools'. He is co-author of 'Generative Design', which was in 2010 one of the top selling German-language design books with translations to English (Princeton Architectural Press) and French (Design génératif, Editions Pyramid). It is considered being one of the standard books in the field of computational design.</p>

			<p>Benedikt’s work has been published in Wired, CAN, Form, Page, Weave, Infosthetics etc. and also has been exhibited internationally at the Japanense Media Arts Festival, the Open Data Institute, Ars Electronica, V2_ & the New Institute and the Node Festival.</p>

			<p>He now lives in Stuttgart, Germany and tries to balance his time between working with commercial clients and self initiated/research projects. Currently he is also a visiting tutor for Digital Culture and Data Visualization at the Hochschule für Gestaltung Schwäbisch Gmünd.</p>
		
			<p>http://benedikt-gross.de</p>
		</div>

	</div>

	<div class="illustration" data-src="{{ url_for("static", filename="images/gens.jpg") }}"> </div>


	<div class="article container">
		<div class="title">MARK MCKEAGUE</div>
		<div class="subtitle">WORKSHOP</div>
		<div class="body">
			<p>Dentaku is creative design & invention company based in London, formed in 2013 by Yuri Suzuki and Mark McKeague. Their backgrounds are in product design, interaction design, music and technology. They work closely with companies to create machines, products and experiences. The core of their expertise lies in combining sound, design and technology, but they also tap into our strong network of multidisciplinary collaborators depending on the needs of the project.</p>

			<p>Mark McKeague creates systems, devices and experiences which explore new possibilities for technology. He is a recent graduate of the Design Interactions course at Royal College of Art, during which he experimented with new contexts for creating sound with emerging technologies. Since graduating he is continuing his approach by collaborating with other artists, designers and companies.</p>

			<p>http://dentakulondon.com<br/>
			http://markmckeague.com</p>

		</div>

		<div class="center"><iframe src="//player.vimeo.com/video/68710394" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
	</div>

500 281
800 
</div><!-- /.container -->

{% endblock %}
